#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.cache
/ipch/
obj/
obj/Debug/*.*
obj/Release/*.*
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
*.old
*.iml
/GCopLog.txt

#MonoDevelop files
*.userprefs
*.pidb
*~

#Tooling
_ReSharper*/
*.resharper

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

#NuGet
/packages/
*.nupkg
!packages/repositories.config

#build artifacts
deploy/
reports/
merged/
Documentation-*/

#nCrunch files
*.crunchproject.local.xml
*.crunchsolution.local.xml
*.crunchproject.xml
*.crunchsolution.xml
*.ncrunchsolution
*.ncrunchsolution.user
*.ncrunchproject
_NCrunch_*/
TestResult.xml
*.ide
*.lock
.vs/TddToolkit/v15/Server/sqlite3/storage.ide-shm
*.ide-wal
.vs/TddToolkit/v15/sqlite3/storage.ide-shm