# version format
version: 1.0.{build}

# Build worker image (VM template)
image: Visual Studio 2017

configuration:
  - Debug
  - Release

before_build:
  - nuget restore

build:
  project: TddToolkit.sln

test:
  assemblies:
    **\*Specification.dll

notifications:
- provider: Email
  on_build_success: false
  on_build_failure: false
  on_build_status_changed: false