<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.47.7" targetFramework="net40" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net4" />
  <package id="CompareNETObjects" version="3.05.0.0" targetFramework="net40" />
  <package id="FluentAssertions" version="4.9.0" targetFramework="net40" />
  <package id="JonSkeet.MiscUtil" version="0.1" targetFramework="net40" />
  <package id="LibZ.Tool" version="1.2.0.0" targetFramework="net40" />
  <package id="NClone" version="1.1.1" targetFramework="net4" />
  <package id="NSubstitute" version="1.10.0.0" targetFramework="net40" />
  <package id="NUnit" version="3.2.1" targetFramework="net40" />
  <package id="Thrower" version="2.2.3" targetFramework="net40" />
  <package id="Troschuetz.Random" version="4.0.4" targetFramework="net40" />
</packages>