<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.50.2" targetFramework="net40" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="CompareNETObjects" version="3.05.0.0" targetFramework="net45" />
  <package id="FluentAssertions" version="4.17.0" targetFramework="net45" />
  <package id="JonSkeet.MiscUtil" version="0.1" targetFramework="net40" />
  <package id="LibZ.Tool" version="1.2.0.0" targetFramework="net40" />
  <package id="NClone" version="1.1.1" targetFramework="net45" />
  <package id="NSubstitute" version="1.10.0.0" targetFramework="net45" />
  <package id="StrongNamer" version="0.0.2" targetFramework="net40" />
</packages>