<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.30.5" targetFramework="net4" userInstalled="true" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net4" userInstalled="true" />
  <package id="CompareNETObjects" version="3.02.0.0" targetFramework="net4" userInstalled="true" />
  <package id="FluentAssertions" version="3.3.0" targetFramework="net4" userInstalled="true" />
  <package id="LibZ.Bootstrap" version="1.1.0.2" targetFramework="net4" userInstalled="true" />
  <package id="NClone" version="1.1.1" targetFramework="net4" userInstalled="true" />
  <package id="NSubstitute" version="1.8.1.0" targetFramework="net4" userInstalled="true" />
  <package id="NUnit" version="2.6.4" targetFramework="net4" userInstalled="true" />
</packages>