<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="4.2.0" targetFramework="net462" />
  <package id="AutoFixture.SeedExtensions" version="4.2.0" targetFramework="net462" />
  <package id="Castle.Core" version="4.2.1" targetFramework="net462" />
  <package id="Generic.Math" version="1.0.2" targetFramework="net462" />
  <package id="Microsoft.NETCore.Platforms" version="2.0.1" targetFramework="net462" />
  <package id="NClone" version="1.1.1" targetFramework="net462" />
  <package id="NSubstitute" version="3.1.0" targetFramework="net462" />
  <package id="StrongNamer" version="0.0.6" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net462" />
</packages>